<h4><a {{bind-attr href=post.url}}>{{post.title}}</a></h4>
{{post.score}} points by {{post.by}}&nbsp;|&nbsp;
{{#if hasComment}}
  {{link-to 'comments' 'posts.comments' post.id}}
{{else}}
  comments
{{/if}}
({{numComments}})
