<table class='table table-striped'>
<tbody>
{{#each post in controller}}
<tr><td><h4><a {{bind-attr href=post.url}}>{{post.title}}</a></h4>
{{post.score}} points by {{post.by}}&nbsp;|&nbsp;
{{#if post.hasComment}}
  {{link-to 'comments' 'posts.comments' post.id}}
{{else}}
  comments
{{/if}}
({{post.numComments}})</td></tr>
{{/each}}
</tbody>
</table>

